


body {
    background-image: url('https://vignette.wikia.nocookie.net/nazizombiesplus/images/9/9d/Cavern_of_Remembrance.jpg/revision/latest?cb=20180401001940');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:rgb(228, 152, 53);
    font-family:fantasy;
    font-size: 20px;
}

h2{
    color:rgb(100, 228, 100)
}

h3{
    color:palevioletred;
}

/*Size images*/
img {
    width: 10%;
    height: auto;
}

playerScore{
    color:red;
}